.carddata {
    margin: 2vh
}

.card-top a {
    float: left;
    margin-top: 0.7rem
}

.inputcustom {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
    font-size: 17px;
}

textarea {
    font-size: 17px;
}

.mycustomspan {
    font-size: 20px
}

.cartitemdata {
    margin-bottom: 2vh
}

#customform {
    padding: 2vh 0
}

.left--content {
    background-color: #ffffff;
    padding: 2vh
}

.left--content img {
    width: 2rem
}

.img-fluid-data {
    width: 10vw;
    height: 25vh;
    float: left
}

.rightdata {
    background-color: #ffffff;
    padding: 2vh
}

.col-8 {
    float: left;
    padding-left: 2vw
}

.lowerdata {
    line-height: 2
}

.checkoutbtn {
    background-color: #5bc0de;
    color: white;
    width: 100%;
    font-size: 1.5rem;
    margin: 4vh 0 1.5vh 0;
    padding: 1.5vh;
    border-radius: 0
}

.checkoutbtn:hover {
    background-color: #22bb33;
    color: white;
}

input[type=checkbox] {
    width: unset;
    margin-bottom: unset;
    font-size: 16px !important;
}

.detailorderdata {
    font-size: 15px;
}

.totalpricedata {
    float: right;
    margin-right: 1vw;
    font-size: 20px;
    color: #53a753;
    text-align: right;
}
